<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Testloginapp">
    <classes>
      <class name="com.qa.testcases.Testcase1"/>
      <class name="com.qa.testcases.TestCase2"/>
    </classes>
  </test> <!-- Testloginapp -->
</suite> <!-- Suite -->
